<?xml version="1.0" encoding="UTF-8" ?>
<configuration scan="true" scanPeriod="60 seconds" debug="false">
	<!-- 控制台设置 -->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<!-- encoder 默认配置为PatternLayoutEncoder -->
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger:%L - %msg%n
			</pattern>
		</encoder>
	</appender>
	
  	<!-- 文件输出()每天保存一个文件，保存7天，超过1M的轮回 -->  
    <appender name="file_log" class="ch.qos.logback.core.rolling.RollingFileAppender">  
        <file>/logs/BizLicOnChain/BizLicOnChain.log</file>  
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">  
            <fileNamePattern>/logs/product-search/product-search-%d{yyyy-MM-dd_HH-mm}_%i.log</fileNamePattern>  
            <maxHistory>7</maxHistory>  
            <timeBasedFileNamingAndTriggeringPolicy  class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">  
            	<maxFileSize>1MB</maxFileSize>   
            </timeBasedFileNamingAndTriggeringPolicy>   
        </rollingPolicy>  
        <encoder>  
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger:%L - %msg%n</pattern>  
        </encoder>  
    </appender>  

	<!-- 指定具体的 某个类 -->
	<logger name="org.springframework.web" level="DEBUG" additivity="false">  
    	<appender-ref ref="STDOUT"/>  
    	<appender-ref ref="file_log"/>  
  	</logger> 
  	<logger name="com.xiaoke1256.orders.product.dao" level="TRACE" additivity="false">
  		<appender-ref ref="STDOUT"/>  
    	<appender-ref ref="file_log"/>  
  	</logger>
  	<logger name="com.xiaoke1256" level="DEBUG" additivity="false">  
    	<appender-ref ref="STDOUT"/>  
    	<appender-ref ref="file_log"/>  
  	</logger>  
	
 
	<!-- * 通配符 设置log打印级别 对所有类有效-->
	<root level="WARN">
		<appender-ref ref="STDOUT" />
	</root>
</configuration> 
