<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaoke1256.bizliconchain.common.dao.EthTrasLogMapper">
 
  <resultMap id="BaseLogMap" type="com.xiaoke1256.bizliconchain.common.bo.EthTrasLog">
    <result column="LOG_ID" jdbcType="BIGINT" property="logId" />
    <result column="NONCE" jdbcType="VARCHAR" property="nonce" />
    <result column="CONTRACT_ADDRESS" jdbcType="VARCHAR" property="contractAddress" />
    <result column="METHOD" jdbcType="VARCHAR" property="method" />
    <result column="BIZ_KEY" jdbcType="VARCHAR" property="bizKey" />
    <result column="TRAS_HASH" jdbcType="VARCHAR" property="trasHash" />
    <result column="TRAS_STATUS" jdbcType="VARCHAR" property="trasStatus" />
    <result column="STATUS" jdbcType="VARCHAR" property="status" />
    <result column="GAS_PRICE" jdbcType="DECIMAL" property="gasPrice" />
    <result column="GAS_USED" jdbcType="DECIMAL" property="gasUsed" />
    <result column="GAS_LIMIT" jdbcType="DECIMAL" property="gasLimit" />
    <result column="ERR_MSG" jdbcType="VARCHAR" property="errMsg" />
    <result column="INSERT_TIME" jdbcType="TIMESTAMP" property="insertTime" />
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="FINISH_TIME" jdbcType="TIMESTAMP" property="finishTime" />
  </resultMap>
 
  <select id="getEthTrasLog" resultType="com.xiaoke1256.bizliconchain.common.bo.EthTrasLog">
    select LOG_ID,NONCE,CONTRACT_ADDRESS,METHOD,BIZ_KEY,TRAS_HASH,TRAS_STATUS,STATUS,GAS_PRICE,GAS_USED,ERR_MSG,INSERT_TIME,UPDATE_TIME,FINISH_TIME from ETH_TRAS_LOG where id = #{logId}
  </select>
  
  <insert id="saveLog" parameterType="com.xiaoke1256.bizliconchain.common.bo.EthTrasLog" keyProperty="logId" useGeneratedKeys="true" >
  	insert into ETH_TRAS_LOG (NONCE,CONTRACT_ADDRESS,METHOD,BIZ_KEY,TRAS_HASH,TRAS_STATUS,STATUS,GAS_PRICE,GAS_USED,ERR_MSG,INSERT_TIME,UPDATE_TIME,FINISH_TIME) 
  	values (#{nonce},#{contractAddress},#{method},#{bizKey},#{trasHash},#{trasStatus},#{status},#{gasPrice},#{gasUsed},#{errMsg},#{insertTime},#{updateTime},#{finishTime})
  </insert>
  
  <update id="updateLog" parameterType="com.xiaoke1256.bizliconchain.common.bo.EthTrasLog" >
    update ETH_TRAS_LOG set
      NONCE = #{nonce},
      CONTRACT_ADDRESS = #{contractAddress},
      METHOD = #{method},
      BIZ_KEY = #{bizKey},
      TRAS_HASH = #{trasHash},
      TRAS_STATUS = #{trasStatus},
      STATUS = #{status},
      GAS_PRICE = #{gasPrice},
      GAS_USED = #{gasUsed},
      ERR_MSG = #{errMsg},
      INSERT_TIME = #{insertTime},
      UPDATE_TIME = #{updateTime},
      FINISH_TIME = #{finishTime}
    where LOG_ID = #{logId}
  </update>
  
  <select id="searchLog" parameterType="com.xiaoke1256.bizliconchain.common.bo.EthTrasLogSearchCondition" resultType="com.xiaoke1256.bizliconchain.common.bo.EthTrasLog" >
  	select LOG_ID,NONCE,CONTRACT_ADDRESS,METHOD,BIZ_KEY,TRAS_HASH,TRAS_STATUS,STATUS,GAS_PRICE,GAS_USED,ERR_MSG,INSERT_TIME,UPDATE_TIME,FINISH_TIME from ETH_TRAS_LOG 
  	where 1=1
  	<if test="nonce != null and nonce != '' ">
  		and NONCE = #{nonce}
  	</if>
  	<if test="contractAddress != null and contractAddress != '' ">
  		and CONTRACT_ADDRESS = #{contractAddress}
  	</if>
  	<if test="method != null and method != '' ">
  		and method = #{method}
  	</if>
  	<if test="bizKey != null and bizKey != '' ">
  		and BIZ_KEY = #{bizKey}
  	</if>
  	<if test="trasHash != null and trasHash != '' ">
  		and TRAS_HASH = #{trasHash}
  	</if>
  	<if test="trasStatus != null and trasStatus != '' ">
  		and TRAS_STATUS = #{trasStatus}
  	</if>
  	<if test="status != null and status != '' ">
  		and STATUS = #{status}
  	</if>
  	<if test="errMsg != null and errMsg != '' "><!-- TODO 后续要改成like -->
  		and ERR_MSG like '%'||#{errMsg}||'%'
  	</if>
  	order by UPDATE_TIME desc
  	<if test="pageSize>0">
  	  limit <if test="fromIndex>0">#{fromIndex},</if>#{pageSize}
  	</if>
  </select>
  
  <select id="countLog" parameterType="com.xiaoke1256.bizliconchain.common.bo.EthTrasLogSearchCondition" resultType="int" >
  	select count(*) from ETH_TRAS_LOG 
  	where 1=1
  	<if test="nonce != null and nonce != '' ">
  		and NONCE = #{nonce}
  	</if>
  	<if test="contractAddress != null and contractAddress != '' ">
  		and CONTRACT_ADDRESS = #{contractAddress}
  	</if>
  	<if test="method != null and method != '' ">
  		and method = #{method}
  	</if>
  	<if test="bizKey != null and bizKey != '' ">
  		and BIZ_KEY = #{bizKey}
  	</if>
  	<if test="trasHash != null and trasHash != '' ">
  		and TRAS_HASH = #{trasHash}
  	</if>
  	<if test="trasStatus != null and trasStatus != '' ">
  		and TRAS_STATUS = #{trasStatus}
  	</if>
  	<if test="status != null and status != '' ">
  		and STATUS = #{status}
  	</if>
  	<if test="errMsg != null and errMsg != '' "><!-- TODO 后续要改成like -->
  		and ERR_MSG like '%'||#{errMsg}||'%'
  	</if>
  </select>
  
  <select id="queryUnFeedback" resultType="com.xiaoke1256.bizliconchain.common.bo.EthTrasLog" >
    select LOG_ID,NONCE,CONTRACT_ADDRESS,METHOD,BIZ_KEY,TRAS_HASH,TRAS_STATUS,STATUS,GAS_PRICE,GAS_USED,ERR_MSG,INSERT_TIME,UPDATE_TIME,FINISH_TIME 
    from ETH_TRAS_LOG 
  	where 1=1 and STATUS = 'C'
  	order by LOG_ID
  </select>
</mapper>